.cta-button {
  display: inline-block;
  width: 150px;
  margin: 20px 0;
  padding: 10px;

  background-color: white;
  font-family: 'KoHo', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #424E5C;

  border: 5px solid #86C6BC;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #86C6BC;
  color: white;
}

@media screen and (min-width: 375px) {
  .cta-button {
    width: 260px;
    margin: 20px 25px;

    font-size: 16px;
    border-width: 3px;
  }
}

@media screen and (min-width: 667px) {
  .cta-button {
    width: 220px;
  }
}

@media screen and (min-width: 1024px) {
  .cta-button {
    width: 225px;
  }
}

@media screen and (min-width: 1280px) {
  .cta-button {
    display: block;
    width: 100%;

    font-size: 18px;
    border-width: 5px;
  }
}
