.page-subtitle {
  display: block;

  font-size: 22px;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-weight: 800;
  color: #DBDADA;
}

@media screen and (min-width: 768px) {
  .page-subtitle {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .page-subtitle {
    display: block;
    font-size: 26px;
  }
}
