.section-header {
  display: block;
  position: relative;
}

.section-header-text {
  display: inline-block;
  font-family: 'KoHo', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400;

  padding-top: 10px;
  padding-bottom: 25px;
  border-top: 1px solid;
  width: 75%;
}

.section-header-text.paleorange {
  color: #E6B685;
  border-top-color: #E6B685;
}

.section-header-text.lime {
  color: #D5EB98;
  border-top-color: #D5EB98;
}

.section-header-svg {
  height: 150px;

  position: absolute;
  right: 0;
  top: 0;

  opacity: 0.18;
}

@media screen and (min-width: 667px) {
  .section-header-text {
    width: 90%;
    max-width: 250px;
  }

  .section-header-svg {
    height: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .section-header-text {
    width: 70%;
  }

  .section-header-svg {
    height: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .section-header-text {
    max-width: 280px;
  }

  .section-header-svg {
    height: 40px;
    opacity: 1;
  }
}
