.about {
  background-color: #424E5C;
}

#portrait {
  display: block;
  height: 300px;
  border: solid 1px #707070;
  margin-bottom: 50px;
}

.cta-buttons {
  margin-top: 20px
}

@media screen and (min-width: 375px) {
  #portrait {
    height: 110px;
    margin-bottom: 0;
    margin-left: 25px;
    float: right;
  }

  .cta-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 667px) {
  #portrait {
    height: 140px;
    margin-left: 35px;
  }

  .cta-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  #portrait {
    height: 210px;
    margin-left: 55px;
  }

  .cta-buttons {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  #portrait {
    height: 220px;
    margin-left: 20px;
  }

  .cta-buttons {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  #portrait {
    height: 300px;
    margin-bottom: 50px;
    margin-left: 0px;
    float: none;
  }
}
