.about i {
  color: #86C9A2;
}

#portrait {
  display: block;
  height: 110px;

  float: right;
  margin-bottom: 0;
  margin-left: 25px;

  border: solid 1px rgba(236, 239, 223, 0.452);
  filter: saturate(1.2) brightness(0.95);
}

.cta-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 667px) {
  #portrait {
    height: 140px;
    margin-left: 35px;
  }

  .cta-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  #portrait {
    height: 180px;
    margin-left: 25px;
  }

  .cta-buttons {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  #portrait {
    height: 140px;

    position: absolute;
    top: 25px;
    right: 30px;
    margin-left: 20px;
    z-index: 3;

    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.116);
  }

  .cta-buttons {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  #portrait {
    height: 160px;
  }

  .cta-buttons {
    margin: 40px 0;
  }
}
