.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #86A5C1;
  position: relative;
}

#welcome {
  padding-top: 50px;
}

.welcome-gray {
  font-family: 'KoHo', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: #DBDADA;
  text-shadow: 1px 2px 3px rgba(45, 46, 59, 0.082);
}

.welcome-yellow {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
  color: #F2E187;
  text-shadow: -0.5px 0 #E2CD33, 0 0.5px #E2CD33, 0.5px 0 #E2CD33, 0 -0.5px #E2CD33, 0 1px 1px rgba(45, 46, 59, 0.178);
}

#home-arrow {
  position: absolute;
  bottom: 100px;
  right: 0;
  transform: scaleX(0.4) scaleY(0.45);
}

#home-arrow-text {
  position: absolute;
  color: #424E5C;

  font-size: 12px;
  bottom: 150px;
  right: 10px;
  text-align: right;
  width: 160px;
}

.home-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.home-socials > .social-btn {
  margin: 0 20px;
}

.home-socials > .social-btn > span {
  color: #FFFFFF;
  font-size: 17px;
}

@media screen and (min-width: 667px) {
  #home-arrow {
    bottom: 40px;
    right: 30px;
    transform: scale(0.9) scaleX(0.3) scaleY(-0.45) rotate(-40deg);
  }

  #home-arrow-text {
    opacity: 0.9;
    font-size: 12px;
    top: 25px;
    right: 40px;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  #welcome {
    padding-top: 200px;
    padding-left: 60px;
    width: 700px;
  }

  .welcome-yellow {
    font-size: 50px;
    text-shadow: -1px 0 #E2CD33, 0 1px #E2CD33, 1px 0 #E2CD33, 0 -1px #E2CD33, 0 3px 5px rgba(45, 46, 59, 0.178);
  }

  .welcome-gray {
    font-size: 38px;
  }

  #home-arrow {
    opacity: 0.8;
    top: auto;
    bottom: 230px;
    right: 120px;
    transform: scale(1) scaleX(0.5) scaleY(0.6);
  }

  #home-arrow-text {
    top: auto;
    opacity: 0.9;
    font-size: 12px;
    bottom: 230px;
    right: 80px;
    width: 160px;
  }

  .home-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1024px) {
  #welcome {
    padding-top: 165px;
    padding-left: 60px;
  }

  .welcome-yellow {
    font-size: 50px;
    text-shadow: -0.5px 0 #E2CD33, 0 0.5px #E2CD33, 0.5px 0 #E2CD33, 0 -0.5px #E2CD33, 0 3px 5px rgba(45, 46, 59, 0.178);
  }

  .welcome-gray {
    font-size: 40px;
  }

  #home-arrow {
    opacity: 0.8;
    bottom: 70px;
    right: 130px;
    transform: scaleX(0.65) scaleY(0.8);
  }

  #home-arrow-text {
    font-size: 12px;
    bottom: 50px;
    right: 90px;
    width: 170px;
  }

  .home-socials {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  #welcome {
    padding-top: 200px;
    padding-left: 100px;
  }

  .welcome-yellow {
    font-size: 62px;
    text-shadow: -1px 0 #E2CD33, 0 1px #E2CD33, 1px 0 #E2CD33, 0 -1px #E2CD33, 0 3px 5px rgba(45, 46, 59, 0.178);
  }

  .welcome-gray {
    font-size: 50px;
  }

  #home-arrow {
    bottom: 90px;
    right: 180px;
    transform: scaleX(0.8) scaleY(0.9);
  }

  #home-arrow-text {
    font-size: 14px;
    bottom: 50px;
    right: 80px;
    width: 200px;
  }

  .home-socials {
    display: none;
  }
}
