.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 65px);

  padding: 50px 30px;
  margin-top: 65px;
}

.text-column {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  text-justify: inter-word;
}

.text-column > i {
  font-style: italic;
  color: #86C9AD;
}

@media screen and (min-width: 667px) {
  .page {
    height: calc(100% - 60px);
    padding: 40px 50px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page {
    height: calc(100% - 65px);
    padding: 70px 60px;
    margin-top: 65px;
  }

  .text-column {
    line-height: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    height: 100%;

    padding: 100px 50px 60px 50px;
    overflow-y: scroll;
    margin-top: 0;
  }

  .text-column {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 0px 50px;
  }

  .text-column {
    margin-right: 50px;
    line-height: 26px;
  }
}
