.work {
  background-color: #464646;
}

#be {
  display: inline-block;
}

.ls-container {
  display: inline-block;
  vertical-align: top;

  margin-top: 60px;
  margin-bottom: 40px;
}

#landscapp-screenshots-text {
  display: block;
  margin-bottom: 10px;

  font-size: 9px;
  color: #9EAAB7;
  text-align: center;
}

#landscapp-screenshots {
  display: block;
  height: 500px;
}

#findie_sbu {
  display: inline-block;
  vertical-align: top;
}

#findie_sbu > .text-column {
  display: block;
  margin-bottom: 50px;
}

@media screen and (min-width: 667px) {
  .ls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  #landscapp-screenshots {
    height: 600px;
  }

  #findie_sbu > .text-column {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .ls-container {
    margin-top: 80px;
  }

  #landscapp-screenshots {
    height: 645px;
  }

  #findie_sbu > .text-column {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1024px) {
  #be {
    width: 60%;
  }

  .ls-container {
    float: right;
    margin-top: 0;
    margin-left: 35px;
  }

  #landscapp-screenshots {
    height: 385px;
  }

  #findie_sbu > .text-column {
    margin-bottom: 0;
  }

  #findie_sbu > div:first-child {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1280px) {
  #be {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #landscapp-screenshots {
    margin: 0;
    height: 600px;
  }
}
