.work > .box {
  margin-bottom: 60px;
}

.box-content-left {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.screenshot-text {
  display: block;
  margin-bottom: 10px;

  font-size: 9px;
  color: #9EAAB7;
  text-align: center;
}

.screenshot {
  display: block;
  width: auto;
  height: auto;
  max-width: 90%;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 667px) {
  .screenshot {
    height: 600px;
  }
}

@media screen and (min-width: 768px) {
  .screenshot {
    height: 645px;
  }
}

@media screen and (min-width: 1024px) {
  .box-content-left {
    width: 47%;
  }

  .screenshot {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    height: auto;

    margin-top: 0;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .screenshot {
    margin-left: 0;
    margin-left: 40px;
    margin-right: -60px;
    margin-top: -20px;
  }
}
