.navbar {
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  background-color: transparent;
  color: #DBDADA;
  text-shadow: 0 0.5px rgba(0, 0, 0, 0.24);
  z-index: 2;
}

.navbar-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 3px 10px 10px 10px;
  margin: 0 5px;
  font-size: 12px;
  opacity: 0.9;
}

.navbar-link.active {
  font-weight: 400;
  border-bottom: solid 2px;
  opacity: 1;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .navbar {
    margin: 20px;
  }

  .navbar-link {
    font-size: 16px;
    margin: 0 10px;
  }
}
