.navbar {
  width: 100%;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  background-color: transparent;
  color: #DBDADA;
  text-shadow: 0 0.5px rgba(0, 0, 0, 0.24);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: rgba(67, 69, 73, 0.87);
}

.navbar-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 3px 10px 10px 10px;
  margin: 0 5px;
  font-size: 12px;
  opacity: 0.9;
}

.navbar-link.active {
  font-weight: 400;
  border-bottom: solid 2px;
  opacity: 1;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .navbar {
  }

  .navbar-link {
    font-size: 14px;
    margin: 0 10px;
  }
}
