.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;

  position: relative;
  padding-left: 35px;

  background-color: #FFFFFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  z-index: 2;

  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  line-height: 24px;
  color: #424E5C;
}

.sidebar-mid {
  margin-top: 200px;
}

.sidebar-title {
  font-size: 16px;
  font-weight: 600;
}

.sidebar-subtitle {
  font-size: 14px;
  font-weight: 400;

  margin: 33px 0;
}

.sidebar-bottom {
  margin-bottom: 25px;

  line-height: 20px;
}

@media screen and (min-width: 1280px) {
  .sidebar {
    width: 220px;
    padding-top: 23px;
  }

  .sidebar-top {
    flex-direction: row;
  }

  .sidebar-bottom {
    min-width: 700px;
    position: absolute;
    bottom: -100px;
    left: 20px;
  }

  .sidebar-bottom > h1 {
    opacity: 0.15;
    font-size: 75px;
    line-height: 100px;
  }

  .sidebar-bottom > h3 {
    font-size: 20px;
    line-height: 32px;
  }
}
