.sidebar-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  min-height: 65px;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  background-color: #FFFFFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.sidebar-sm > .home-title {
  color: #1B3A5D;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  opacity: 0.85;
  font-weight: 500;
}

#timo-img {
  height: 40px;
  border-radius: 50px;
  border: 0.5px solid rgba(112, 112, 112, 0.8);
  box-shadow: 0 1px 2px rgba(13, 10, 10, 0.35);
}

#menu-btn {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.sidebar-sm-nav {
  width: 100%;
  height: calc(100vh - 65px);

  position: absolute;
  top: 65px;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  background-color: #424E5C;
}

.sidebar-sm-nav > a.nav-sm-link {
  display: block;
  width: 75%;
  max-width: 300px;

  padding-right: 30px;

  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.211);

  font-size: 20px;
  font-weight: 900;
  font-style: italic;
  text-align: right;
  line-height: 70px;
  color: #FFFFFF;

  border-radius: 15px 0 0 15px;
}

.sidebar-sm-nav > a.babyblue {
  background-color: #86A5C1;
  z-index: 9;
}

.sidebar-sm-nav > a.seagreen {
  background-color: #62ACA0;
  z-index: 8;
}

.sidebar-sm-nav > a.paleorange {
  background-color: #DDA267;
  z-index: 7;
}

.sidebar-sm-nav > a.cherry {
  background-color: #A74965;
  z-index: 6;
}

@media screen and (min-width: 667px) {
  .sidebar-sm {
    min-height: 60px;
  }

  .sidebar-sm-nav {
    height: calc(100vh - 60px);
    top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-sm {
    min-height: 65px;
  }

  .sidebar-sm-nav {
    padding-top: 100px;
    justify-content: flex-start;
    top: 65px;
  }
}
